.intro {
    background-color: navy;
    text-align: center;
    color: aliceblue;
}

.my_projects {
    
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

div.col-xs-4 project {
    text-align: center;
}
